[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
click-plugins = "*"
pycodestyle = "*"
logzero = "*"
chaostoolkit-lib = ">=0.14.0"
requests = "*"


[dev-packages]



[requires]

python_version = ">=3.5.*"
